@import "tailwindcss";

@theme {
  --color-fundo-principal: #383248;   /* Roxo escuro do fundo */
  --color-fundo-card: #A2AFBC;        /* Cinza azulado do card central */
  --color-marca: #1B768A;             /* Verde-azulado/Petróleo dos botões principais */
  --color-destaque: #FFE1B1;          /* Dourado do texto "Bem-Vindo!" */
}
